/** Color variables from Figma **/

:root {
  --earth-blue: #6F88C2;
  --light-blue: #B2DBFF;
}

/** Styles for Index Page animation **/

.dashed-circle-outermost {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: var(--size);
   height: var(--size);
   /* dashed border */
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='713' ry='713' stroke='%236F88C263' stroke-width='1' stroke-dasharray='14' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");

}

.dashed-circle-outer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:var(--size);
   height: var(--size);
   /* dashed border */
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='533' ry='533' stroke='%236F88C296' stroke-width='1' stroke-dasharray='14' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
   align-self: center;
}

.dashed-circle-middle {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: var(--size);
   height: var(--size);
   /* dashed border */
   border: 1px solid rgba(111, 136, 194, 0.8);
   border-radius: 50%;
   align-self: center;
}

.dashed-circle-inner {
  position:  relative;
   width: var(--size);
   height: var(--size);
   /* dashed border */
   border:  solid 1px var(--earth-blue);
   border-radius: 50%;
   background: no-repeat url("../img/Home-Page-Aircraft 5.png") 65% 50%, var(--light-blue);
}


.rotating-icon {
  position: absolute;
  left: 230px;
  top: 235px;
  width:50px;
  height:50px;
  padding: 2px;
  border-radius: 50%;

  background: no-repeat url("https://ef2ee2f55bc40d7aec0e00db7a38b5a0.cdn.bubble.io/f1707167866379x880666383452546800/Subtract.svg?_gl=1*qedbfe*_gcl_au*NDYyMzMyMzI2LjE3MDQzMDQ0OTE.*_ga*MTAwMjc4ODg1My4xNzA0MzA0NDkx*_ga_BFPVR2DEE2*MTcwNzE0MDkzMS4yMy4xLjE3MDcxNjg2NjguNTkuMC4w") center;
  background-size: 38px auto;

  font-weight:bold;
  transform:rotate(var(--delay)) translate(var(--o)) 
    rotate(calc(var(--delay) * -1));
}

.forward {
  animation: spin var(--d) linear infinite;
}

.reverse {
  animation: reverse-spin var(--d) linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(calc(360deg + var(--delay))) translate(var(--o)) rotate(calc(-360deg - var(--delay)));
  }
}
    
@keyframes reverse-spin { 
    100% {
    transform:rotate(calc(-360deg - var(--delay))) translate(var(--o)) rotate(calc(360deg + var(--delay)));
  }
}
    
}